hr {
  border-width: 1px;
  border-color: black;
  clear: both;
  margin-bottom: 0;
}

div.percent p
{
  margin: 0;
  font-weight: 700;
  text-align: center;
}

div.remodal
{
  width: 85%;
  max-width: 850px;
}

div.data-tl p:first-child {
  padding-top: 0 !important;
  text-align: center;
}

dt
{
  padding: 1rem !important;
}

.bar {
  width: calc(100%);
  border: 3px solid #005695;
  overflow: auto;
  height: 50px;
  display: block;
  border-radius: 5px;
}

.bar .fill {
  height: 100%;
  background-color: #005695;
  background-image: url(https://i.imgur.com/7giqQ1N.png);
  background-repeat: repeat;
}

.subBar {
  display: block;
  margin-top: 10px;
}

.subBar .fill {
  height: 25px;
  border: 1px solid #bebebe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
}

.line {
  border-right: 1px solid #bebebe;
  height: 25px;
}

.faq-answer.accordion-content
{
  padding: 2rem;
}

p#rel, p#exp
{
  margin-top: 0!important;
}

table.tablesaw.tablesaw-stack
{
  box-shadow: 0 0 100px 100px transparent !important;
  -moz-box-shadow: 0 0 100px 100px transparent !important;
  -webkit-box-shadow: 0 0 100px 100px transparent !important;
  border: 0 !important;
}

@supports (display: grid)
{
  div.triple-data
  {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 1rem;

	div.data-top
	{
	  grid-row: 1/1;
	  grid-column: 1/ span 2;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  margin: 0;

	  div.data-tl
	  {
		grid-column: 1/1;
	  }

	  div.data-tr
	  {
		grid-column: 2/2;
	  }
	}

	div.data-bl
	{
	  grid-row: 2/2;
	  grid-column: 1/1;
	  margin: 0;
	}

	div.data-br
	{
	  grid-row: 2/2;
	  grid-column: 2/2;
	  margin: 0;
	}
  }

  div.data-block
  {
	display: grid;
	grid-template-columns: 25% 75%;
  }
}